body {
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
    border-radius: 2rem;
    background-color:#F8FAFC;
}

.container-dashboard {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 33%;
    border-radius: 7px;
    background-color:#F8FAFC;
    display: flex;
    overflow: hidden;
    padding: 0;
}

.info-block {
    background-color: #F8FAFC;
    flex-grow: 1;
    padding: 20px;
}

.icon-block {
    display: flex;
    background-color: #dbebfc;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.icon-block span {
    color: #1a4b8c;
    font-size: 36px;
}
.eco-icon-block {
    display: flex;
    background-color: #daf3da;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.eco-icon-block span {
    color: #417543;
    font-size: 36;
}
.container-info {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 49.5%;
    border-radius: 7px;
    background-color:#F8FAFC;
    display: flex;
    overflow: hidden;
    padding: 0;
}
.auth_container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 50%;
    border-radius: 2rem;
    background-color:#F8FAFC;
}


.container-cars {
    text-align: left;
    background-color: #eceeef;
    border-radius: 7px;
    display: flex;
    overflow: hidden;
    padding: 0;
    border: 1px solid #4c545a;
}


.view-trips {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.car_number {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

.fuel-tupe {
    display: flex;
    /* потім прибрати фот */
    width: 25%;
    justify-content: center;
    align-items: center;
}
.fuel-tupe span {
    color: #1a4b8c;
    font-size: 36px;
}
.icon-fuel {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.icon-fuel span {
    color: #1E293B;
    font-size: 36px;
}
.fuel-text {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.icon-block {
    display: flex;
    background-color: #dbebfc;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.icon-fuel span {
    color: #1E293B;
    font-size: 36px;
}


.plate-frame {
    color: #ffffff;
    width: 90%;
    border: 2px solid #000;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    align-items: stretch;

}

.plate-blue {
    width: 45px;
    flex-direction: column;
    background-color: #003399;
    color: white;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    display: flex;

}
.plate-number {
    flex-grow: 1;
    color: #1E293B;
    font-weight: bold;
        font-size: 35px;
    letter-spacing: 2px;
    display: flex; justify-content: center; align-items: center;
}
/* .header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
} */

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

input[type="text"], input[type="number"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

.big-btn {
    padding: 15px 32px;
    border-radius: 12px;
    border: 2px solid #14416a;

}

.bg-overlay {
    min-height: 100vh; 
    background: linear-gradient(rgba(20, 65, 106, 0.8), rgba(20, 65, 106, 0.8)), 
                url('/static/autopass.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aut-btn {
    padding: 8px 26px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    display: inline-block; /* Щоб відступи працювали на посиланнях */
    margin-bottom: 10px;   /* Створює вертикальну відстань між кнопками */
    text-decoration: none; /* Прибирає підкреслення, якщо це посилання */
    color: white;
    min-width: 130px;    /* Однаковий розмір для обох кнопок */
    text-align: center;
    
}


.btn-autopass {
    background-color: #144771;
    border-color: #144771;
    color: white;
}
.btn-autopass:hover {
    background-color: #0d2e4a;
    border-color: #0d2e4a;
    color: white;
}


.big-btn-login {
    background-color: #ffffff;
    border-color: #144771;
    color: #144771;
}
.big-btn-login:hover {
    background-color: #144771;
    border-color: #0d2e4a;
    color: white;
}


.btn-view-trips {
    background-color: dbebfc;
    border-color: #144771;
    color: #144771;
}
.btn-view-trips:hover {
    background-color: #0d2e4a;
    border-color: #0d2e4a;
    color: white;
}


/* Ховаємо стандартний кружок радіокнопки */
.fuel-selector input[type="radio"]:checked + label {
    background-color: #d1e7dd;
    border-color: #a3cfbb;
    color: #0f5132;
}

#electric:checked + label, 
#hybrid:checked + label {
    background-color: #d1e7dd !important;
    color: #0f5132 !important;
    border-color: #a3cfbb !important;
}

#gasoline:checked + label, 
#diesel:checked + label {
    background-color: #212529 !important;
    color: #ffffff !important;
    border-color: #212529 !important;
}