{% extends "layout.html" %}

{% block content %}


{% if error %}
<div
    style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #f5c6cb;">
    {{ error }}
</div>
{% endif %}


<div class="auth_container p-4">
    <h3 class="p-2">Add Car</h3>
    <form action="/add_car" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-50" name="car_number"
                placeholder="Car Number (e.g., EL 12345)" type="text">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-50" name="model"
                placeholder="Model (e.g., Toyota Camry)" type="text">
        </div>

        <div class="mb-3">
            <select name="fuel_type" class="form-select mx-auto w-50" required>
                <option selected value="">Change Fuel Type</option>
                <option value="Gasoline">Gasoline</option>
                <option value="Diesel">Diesel</option>
                <option value="Electric">Electric</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </div>
        <button class="btn btn-autopass mx-auto d-block" type="submit">Add Car</button>
    </form>
</div>

</div>
{% endblock %}