{% extends "layout.html" %}

{% block content %}


{% if error %}
<div
    style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #f5c6cb;">
    {{ error }}
</div>
{% endif %}


<div class="auth_container p-4">
    <h3 class="p-2">Login</h3>
    <form action="/login" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email"
                type="email">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-autopass mx-auto d-block" type="submit">Log In</button>
    </form>
</div>

</div>
{% endblock %}